<footer class="site-footer h-card">
    <data class="u-url" href="{{ '/' | relative_url }}"></data>

    <div class="wrapper">
        <div class="inner">
            <p class="first">{{ site.title }}</p>
            <p class="second">This site is not affiliated with any cited brand, all rights belong to the respective
                owners.</p>
            <p class="third">site updated on {{ site.time | date: "%-d %B %Y" }} at {{ site.time | date: "%H:%m %Z" }}
            </p>
        </div>
    </div>

</footer>

<script>
    function linkClickCallback(e) {
        var e = window.e || e;
        if (e !== undefined && e.target.tagName !== 'A')
            return;

        ga('send', 'event', {
            eventCategory: 'link',
            eventAction: 'click',
            eventLabel: e.target.href,
            transport: 'beacon'
        });
    }

    // add link tracking
    if (typeof ga !== 'undefined') {
        if (document.addEventListener)
            document.addEventListener('click', linkClickCallback, false);
        else
            document.attachEvent('onclick', linkClickCallback);
    }

    function linkDownloadClicked(version) {
        ga('send', 'event', {
            eventCategory: 'link',
            eventAction: 'download',
            eventLabel: version,
            transport: 'beacon'
        });
    }
</script>