---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: -webkit-calc(1200px - (30px * 2));
  max-width: calc(1200px - (30px * 2));
}

.notice {
  border: 1px solid #0089d8;
  background-color: #0089d829;
  padding: 10px 15px;
  width: 100%;
  border-radius: 10px;
  margin-top: 14px;
  text-align: center;
  box-sizing: border-box;
}

footer {
  .wrapper {
    .inner {
      text-align: center;
      .first {
        font-weight: bold;
        margin-bottom: 5px;
      }
      .second {
        font-size: .9rem;
      }
      .third {
        color: #c1c1c1;
        font-size: .8rem;
        font-weight: 300;
      }
    }
  }
}
